dwp-res-prototype{% extends 'layout-agent.html' %}

{% block pageTitle %}
   More detail
{% endblock %}

{% block beforeContent %}

    {{ super() }}

    {{ govukBackLink ({
        text: 'Back',
        href: 'javascript:history.back()'
    }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">
       
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  What is the reason behind your decision?
                </h1>
              </legend>
              <div id="waste-hint" class="govuk-hint">
                Select all that apply.
              </div>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                  <label class="govuk-label govuk-checkboxes__label" for="waste">
                    Right to reside
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                    Presence
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                   Past presence
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                   Factual habitual residence test
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                   Exemption rule
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

             <!-- <button class="govuk-button" data-module="govuk-button" onclick="check()">
  Confirm
</button> -->
{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue",
  href: "/agent/hrt/outcome/end.html"
}) }}
</form>
            <script>
          function check() {
    console.log('in function')
    var radios = document.getElementsByName("nationality");
    var hasSelection = false
    for (var i = 0, len = radios.length; i < len; i++) {
      if (radios[i].checked) {
        hasSelection = true;
      }
    }
    if (!hasSelection) {
      window.location.href = "/citizen/habitual_residency_test/simple_hrt_v8a/nationality_question_1_error.html";
    } else {
      if (document.getElementById("nationality").checked || (document.getElementById("nationality-2").checked )) {
        window.location.href = "/citizen/habitual_residency_test/simple_hrt_v8a/presence.html"
      } else {
        window.location.href = "/citizen/habitual_residency_test/simple_hrt_v8a/nationality_question_2.html"
      }}}
              </script>
        </div>
</div>

{% endblock %}

{% block pageScripts %}
<link href="/public/stylesheets/accessible-autocomplete.min.css" rel="stylesheet" type="text/css">
<script src="/public/javascripts/accessible-autocomplete.min.js" rel="stylesheet" type="text/javascript"></script>
<script src="/public/javascripts/assets_js_auto-complete.js" rel="stylesheet" type="text/javascript"></script>
{% endblock %}